{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block button %}
    {% include "components/atoms/scrollBackToTop.html.twig" %}
{% endblock %}

{% block body %}

    {% include "components/organisms/navbar.html.twig" %}

    <div class="px-6 py-12 lg:my-12 md:px-12 text-purple-500 text-center lg:text-left">
        <div class="container mx-auto xl:px-32">
            <div class="grid lg:grid-cols-2 gap-12 flex items-center">
                <div class="mt-12 lg:mt-0">
                    <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">{% trans %}L'instant pour soi{% endtrans %}
                        <br/><span class="text-blue-600">{% trans %}Massage bien être{% endtrans %}</span>
                    </h1>
                    <a class="inline-block px-7 py-3 mr-2 bg-gradient-to-r from-purple-500 via-purple-500 to-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">En savoir plus</a>
                    <a class="inline-block px-7 py-3 bg-transparent text-blue-600 font-medium text-sm leading-snug uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Learn more</a>
                </div>
                <div class="mb-12 lg:mb-0">
                    <img src={{asset('images/zen.jpg')}} class="w-full rounded-lg shadow-lg" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <!-- Container for demo purpose -->
    <div
        class="container my-24 px-6 mx-auto">

        <!-- Section: Design Block -->
        <section class="z-0 mb-32 text-gray-800 background-radial-gradient">

            <div class="px-6 py-12 md:px-12 text-center lg:text-left">
                <div class="container mx-auto">
                    <div class="grid lg:grid-cols-2 gap-12 flex items-center">
                        <div class="mt-12 lg:mt-0">
                            <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12" style="color: hsl(218, 81%, 95%)">
                                {% trans %}Une bulle de détente{% endtrans %}
                                <br/><span style="color: hsl(218, 81%, 75%)">{% trans %}pour relaxer les grands stressés!{% endtrans %}</span>
                            </h1>

                        </div>
                        <div class="mb-12 lg:mb-0">
                           {#  <div class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden rounded-lg shadow-lg" style="padding-top: 56.25%">
                                <iframe class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full" src={{asset('vids/massage.mp4')}} allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="240632615"></iframe>
                            </div> #}
                             <div class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden rounded-lg shadow-lg" style="padding-top: 56.25%">
                                <iframe class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full" src={{asset('vids/massage_1.mp4')}} allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="240632615"></iframe>
                            </div>
                        </div>
                    </div>
                    <p class="text-lg" style="color: hsl(218, 81%, 95%)">
                        Vivez l’expérience d’un voyage à Hawaï, à Bali ou en Inde, ou évadez-vous au contact de miel, de pierres ou d’huiles chaudes sans quitter Lyon et ses environs ! Poussez la porte d’un de ces instituts de la région et laissez la magie opérer en appréciant les bienfaits relaxants et vivifiants d’un massage réalisé avec douceur et professionnalisme. Fermez les yeux et détendez-vous, le voyage sensoriel peut commencer…
                    </p>

                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </div>

{% endblock %}
