// assets/styles/app.scss

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./variables";

body {
  background-color: rgb(248, 241, 241);
}

.background-radial-gradient {


background: radial-gradient(circle, #6b21a8 0%, rgba(200,70,252,1) 100%);
}
