<footer class="p-4 bg-white sm:p-6 dark:bg-gray-900">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <img src={{ asset('images/logo.jpg') | imagine_filter('logo') }} class="rounded-full md:m-auto" alt="FlowBite Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">L'instant pour soi</span>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Mes massages</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://flowbite.com/" class="hover:underline">Detente</a>
                    </li>
                    <li>
                        <a href="https://tailwindcss.com/" class="hover:underline">Relaxation</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Me contacter</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline "><i class="fa-solid fa-square-phone-flip mr-1"></i>06 12 34 45 56</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline"><i class="fa-solid fa-at mr-1"></i>instantpoursoi@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    <div class="sm:flex sm:items-center sm:justify-between md:px-10">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022
            <a href="https://flowbite.com/" class="hover:underline">L'instant pour soi</a>
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-facebook"></i>
                <span class="sr-only">Facebook</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-square-instagram"></i>
                <span class="sr-only">Instagram</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-square-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-tiktok"></i>
                <span class="sr-only">Tiktok</span>
            </a>
           
        </div>
    </div>
</footer>
